<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Desafío Cumplo.mx</title>
</head>
<body>

	<form>
		<div>
			<select name="select">
			  <option value="udis" selected>UDI's</option>
			  <option value="dolar">Dolar</option>
			</select>
		</div>
		<div>
			<label for="start">Fecha inicio:</label>
			<input type="date" id="start" name="trip-start">			
		</div>
		<div>
			<label for="end">Fecha Final:</label>
			<input type="date" id="end" name="trip-end">			
		</div>
		<a href="#">Mostrar datos</a>
	</form>

</body>
</html>