{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Desafío Cumplo.mx</title>
</head>
<body>

	<form>
		<div>
			<select name="select" id="udis_dolar">
			  <option value="udis" selected>UDI's</option>
			  <option value="dolar">Dolar</option>
			</select>
		</div>
		<div>
			<label for="start">Fecha inicio:</label>
			<input type="date" id="start" name="date-start">			
		</div>
		<div>
			<label for="end">Fecha Final:</label>
			<input type="date" id="end" name="date-end">			
		</div>
		<a href="#" onclick="get_data_banxico()">Mostrar datos</a>
	</form>

	<div>
		<ul>
			<li>Datos: <span id="result">[]</span></li>
			<li>Promedio: <span id="avg">0</span></li>
			<li>Mínimp: <span id="min">0</span></li>
			<li>Máximo: <span id="max">0</span></li>
		</ul>
	</div>

	<div id="chart_div"></div>

	<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>